<div class="row">
  <div class="large-12 columns">
    <h2>{{title}}</h2>
    <h3 class="subheader">{{date achievedAt}}</h3>
    <hr>

    {{#if isDescription}}
    <div class="achievement-details">
      <h3>Description</h3>
      {{{description}}}
      <hr>
    </div>
    {{/if}}

    {{#unless editDescription}}
    <a href="#" {{action showEditDescription}}>Add Description</a>
    {{/unless}}

    {{#if editDescription}}
    <div class="description-form row">

      <div class="large-10 columns">
        {{textarea value=descriptionSrc}}
      </div>
      <div class="large-2 columns">
        <button class="button small" {{action save}}>Save</button>
        <button class="button tiny secondary" {{action hideEditDescription}}>Cancel</button>
      </div>
    </div>
    {{/if}}

  </div>
</div>